@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: 'Roboto',sans-serif;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    text-align: center;
    background-color: steelblue;
}

.main{
  border: 1px solid black;
  padding: 5rem;
  border-radius: 5px;
  box-shadow:0px 0px 35px -11px rgba(0,0,0,0.75);
  background-color: dodgerblue;
}

.main h1{
  font-size: 4rem;
  margin-top: -34px;
}

.main .equals{
  font-size: 2rem;
}

.main2 input {
  border: none;
  border-radius: 10px;
  padding: 10px;
}

.main2 input:focus {
  outline-width: 0;
}

.main2 select{
  margin-left: 10px;
  padding: 10px;
  font-size: 14px;
  border-radius: 15px;
}

.main2 option{
  border-radius: 14px;
}

.main2 select:focus{
  outline-width: 0;
}